.KeyDetails-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: fixed;
    width: auto;
    height: auto;
    max-height: calc(100vh - 5rem);
    right: 1rem;
    bottom: 4rem;
    padding: 1rem;
    color: #afe5f4;
    font-size: 1.2rem;
    background-color: rgba(0 0 0 / .2);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    overflow-Y: auto;
    z-index: 1000;
    transition: outline-width .05s, opacity .2s;
}

.KeyDetails-container::-webkit-scrollbar {
    width: .5rem;
}

.KeyDetails-container::-webkit-scrollbar-track, .KeyDetails-container::-webkit-scrollbar-thumb {
    border: none;
    background: transparent;
    border-radius: .25rem;
}

.KeyDetails-container:hover::-webkit-scrollbar-thumb {
    background: rgba(0 0 0 / .4);
}

.KeyDetails-container::-webkit-scrollbar-thumb:hover {
    background: rgba(0 0 0 / .525);
}

.KeyDetails-container::-webkit-scrollbar-thumb:active {
    background: rgba(0 0 0 / .65);
}

.KeyDetails-info {
    margin: 0;
    font-size: .8rem;
    text-align: center;
    opacity: .8;
}

.KeyDetails-title {
    display: flex;
    justify-content: left;
    align-items: stretch;
    margin: 0;
    margin-top: 8px;
    height: 1.625rem;
    font-size: 1.25rem;
    font-weight: normal;
}

.KeyDetails-title>span {
    display: flex;
    align-items: end;
    color: #000;
    font-weight: bold;
    padding: 0 .4rem;
    border-radius: .25rem;
}

.KeyDetails-title-modifier {
    margin-right: .25rem;
}

.KeyDetails-title-key {
    background-color: #afe5f4;
}

.KeyDetails-category {
    font-size: .8rem;
    text-align: left;
    opacity: .8;
    margin: 4px 0 2px 0;
}

.KeyDetails-action {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}